ion-content{
    --padding-top: 30%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url("../../assets/background.jpg") 0 0/100% 100% no-repeat;
}

ion-item{
    padding-top: 25px;
}

.registerAlert{
    font-size: small;
    color: white;
    background: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}